<p>Olá <%= @resource.name %>!</p>

<p>Alguém solicitou uma redefinição de senha para sua conta.</p>

<p><%= link_to 'Modificar senha', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Se não foi você, por favor, ignore este email.</p>
<p>Sua senha não será modificada até que você acesse o link acima e a modifique.</p>