<h1><%= @account.name %></h1>
<p class="lead">Histórico de despesas</p>

<ul class="nav nav-tabs" id="detailsTab">
  <li class="active"><a href="#chart" data-toggle="tab">Gráfico</a></li>
  <li><a href="#list" data-toggle="tab">Lista</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="chart">
		<div id="container" style="width:100%; height:400px;" data-api-url="<%= history_api_account_path(@account, DateTime.now.year) %>">
		</div>
	</div>
	<div class="tab-pane table-responsive" id="list">
	</div>
</div>

<br>
<a type="submit" href="<%=account_path(@account) %>" class="btn btn-primary btn-block">
	<span class="glyphicon glyphicon-chevron-left"></span>
	Voltar
</a>
<br>
<%= javascript_include_tag "accounts/account_history" %>